
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/keen-ui/dist/keen-ui";

body {
	overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    display: table;
    font-weight: 400;
    line-height: 1.33em;
    letter-spacing: .01em;
    color: rgba(0,0,0,.87);
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

a {
    color: rgba(0,0,0,.87);
    text-decoration: none;
}

[v-cloak] {
    display: none;
}

hr {
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    height: 0;
}

.app-container {
    .ui-textbox__label-text {
        font-size: 12px;
    }

    .ui-textbox__input {
        height: 28px;
        &, .ui-textbox-textarea {
            font-size: 14px;
        }
    }

    .ui-toolbar {
        .nav-buttons {
            padding-right: 15px;
        }
    }

    .centered-con {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        margin: 0 auto;
        display: block;
        max-width: 300px;

        .wrapper {
            padding: 30px;
            box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2);
            @media (max-width: 500px) {
                box-shadow: none;
            }
        }

        h3.title {
            text-align: center;
            font-size: 22px;
            margin-top: 0px;
            font-weight: 400;
        }
    }
}